
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Raleway:wght@300&family=Roboto:wght@300&family=Young+Serif&display=swap');


nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 200px; /* Altere a largura desejada para tornar a logo maior */
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

.imgProfile{
    width: 56px;
    height: 56px;
}

ul,li{
    display: inline-block;
    margin-left: 1rem;
    color: #406bd4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.link_selecionado{
    color:#406bd4;
    border-bottom: 2px solid #3764d3;
    padding-bottom: 5px;
}


.search{
    width: 80%;
    margin: 0 auto;
    height: 40px;
    border-radius: 8px;
    border:2px solid black;
    display: flex;
    justify-content: space-between;
    padding: 4px;
    gap:8px;
    align-items: center;
}

.inputPrincipal{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.2rem;
    font-family:'Raleway', sans-serif;

}

.btn_search{
    background-color:black;
    height: 100%;
    border-radius:8px;
    font-family: 'Raleway', sans-serif;
    color: white;
}

main{
    width: 100%;
    margin:auto;
    display: flex;
    justify-content: center;
    padding-top: 48px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

select{
    width: 180px;
    height: auto;
    padding: 10px;
    border: 2px solid #3764d3;
    border-radius: 4px;
}

label{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 4px;
}

h3{
    color:black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h2{
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
}

  
.cardPokemon{
    padding: 16px;
    border: 2px solid black;
    border-radius: 8px;
    margin: 0 10px 20px 10px; /* Margem horizontal igual em todos os lados, com espaçamento inferior */
    width: calc(25% - 20px); /* Configure a largura para ocupar 25% da largura total com margens */
    box-sizing: border-box;
    flex-grow: 0; /* Evita que os cards expandam igualmente para preencher a linha */
}


.photoPokemon{
    width: 100%;
    height: 200px;
}

.grama {
    display: inline;
    padding: 8px;
    border-radius: 15px;
    border-color: #7dc500;
    background-color: #7dc500;
    color: black;
    margin-right: 4px;
}

.veneno {
    background-color: #FFD700; /* Amarelo para tipo elétrico */
    color: black;
    border:#FFD700;
    border-radius: 15px;
    display: inline;
    padding: 8px;
    margin-right: 4px;
  }

.elétrico{
    background-color: #C2BB00; /* Amarelo para tipo elétrico */
    color: black;
    border:#C2BB00;
    border-radius: 15px;
    display: inline;
    padding: 8px;
    margin-right: 4px;
}
  
.fogo {
    background-color: #FF4500; /* Vermelho para tipo fogo */
    color: white;
    border:#FF4500;
    border-radius: 15px;
    display: inline;
    padding: 8px;
  }
  
.normal {
    background-color: #A6035D; 
    color: white;
    border-radius: 15px;
    border:#A6035D;
    display: inline;
    padding: 8px;
  }

.terra {
    background-color: #8B4513; /* Marrom para fraqueza ao tipo chão */
    color: white;
    border-radius: 15px;
    border:#8B4513;
    display: inline;
    padding: 8px;
  }
  
.voo {
    background-color: #F4E2DE; /* Azul para fraqueza ao tipo água */
    border-radius: 15px;
    border:#F4E2DE;
    color: black;
    display: inline;
    padding: 8px;
  }

.inseto{
    background-color: #007172; /* Azul para fraqueza ao tipo água */
    border-radius: 15px;
    border:#007172;
    color: white;
    display: inline;
    padding: 8px;
}

.psíquico{
    background-color: #FF1493; /* Azul para fraqueza ao tipo água */
    border-radius: 15px;
    border:#FF1493;
    color: white;
    display: inline;
    padding: 8px;
}

 .gelo{
    background-color: #184C78; /* Azul para fraqueza ao tipo água */
    border-radius: 15px;
    border:#184C78;
    color: white;
    display: inline;
    padding: 8px; /* Azul para fraqueza ao tipo água */

}

.rocha, .pedra{
    background-color: #818274; /* Marrom para fraqueza ao tipo chão */
    color: white;
    border-radius: 15px;
    border:#818274;
    display: inline;
    padding: 8px;
}

.água{
    background-color: #0099DD; /* Marrom para fraqueza ao tipo chão */
    color: black;
    border-radius: 15px;
    border:#0099DD;
    display: inline;
    padding: 8px;
}
  
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .content-container {
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    max-width: 800px;
    width: 90%;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .fecharModal {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .fecharModal:hover {
    background-color: #c0392b;
  }
/* Estilos para a barra de progresso (classe .progress-bar) */
.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #ccc;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  /* Estilos para o preenchimento da barra de progresso (classe .progress) */
  .progress {
    height: 100%;
    background-color: #29A632;
    border-radius: 5px;
    transition: width 0.3s ease-in-out; /* Adicione uma transição suave para a largura da barra */
  }
  
  
  .pokemon-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .pokemon-image img {
    max-width: 200px;
    height: auto;
    display: flex;
  }
  
  .pokemon-info {
    flex-grow: 1;
    padding: 20px;
  }
  